node_modules/
certificates
cscas
masterlists
unique_cscas
outputs/plain_text/*
outputs/plain_text_master/*
outputs/plain_text_unique/*
outputs/unique_pem
src/csca/python scripts/__pycache__
dsc_plain_text

.env
.env.local