.homeTitle {
  color: #28a745;
}

.homeDescription {
  font-size: 14px;
  margin-top: 12px;
  color: #28a745;
}

.mapSection {
  width: 95%;
  background: #0c0c0c;
  border-radius: 12px;
}

.mapActions {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mapActions .resetBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mapRow {
  display: flex;
  margin-top: 16px;
}
