.homeTitle {
  color: #28a745;
}

.homeDescription {
  font-size: 14px;
  margin-top: 12px;
  color: #28a745;
}

.mapSection {
  width: 100%;
  background: #0c0c0c;
  border-radius: 12px;
}

.mapRow {
  display: flex;
  margin-top: 16px;
}
