<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenPassport App Clip.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>54</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
				<key>dateExpires</key>
				<string>09/01/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CoreModules.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NFCPassportReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QKMRZParser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QKMRZScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTBlob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTLinking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTSettings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTTypeSafety.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RCTVibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNCAsyncStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNFS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>8.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>13.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RNZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_Codegen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_NativeModulesApple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_RCTAppDelegate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_debug.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_jsc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_runtimescheduler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React_utils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftQRScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyTesseract.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>amplitude_react_native.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>cxxreact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fmt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2021.7.22</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsinspector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>jsireact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>logger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_date_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_get_random_values.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_netinfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>11.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>react_native_nfc_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>reactperflogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.72.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>504A5874105B42DE94BDB6FE02494CC029A1E1EE</string>
						<key>dateExpires</key>
						<string>09/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B29R5LYHQ</string>
						<key>name</key>
						<string>Proof of Passport, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.14.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5B29R5LYHQ.com.warroom.proofofpassport.Clip</string>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>TAG</string>
				</array>
				<key>com.apple.developer.on-demand-install-capable</key>
				<true/>
				<key>com.apple.developer.parent-application-identifiers</key>
				<array>
					<string>5B29R5LYHQ.com.warroom.proofofpassport</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5B29R5LYHQ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OpenPassport App Clip.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47efa2ef-eb25-4b33-a203-4fce9a519b96</string>
				<key>dateExpires</key>
				<string>20/08/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.warroom.proofofpassport.Clip</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5B29R5LYHQ</string>
				<key>name</key>
				<string>Proof of Passport, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.6</string>
		</dict>
	</array>
</dict>
</plist>
