<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	
	<key>NSCameraUsageDescription</key>
    <string>Needed to scan the passport MRZ.</string>
    <key>NFCReaderUsageDescription</key>
    <string>Need NFC to read Passport</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Needed to secure the secret</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>localhost</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
            <key>openpassport.app</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIAppFonts</key>
    <array>
			<string>Inter-Black.otf</string>
			<string>Inter-BlackItalic.otf</string>
			<string>Inter-BoldItalic.otf</string>
			<string>Inter-ExtraBold.otf</string>
			<string>Inter-ExtraBoldItalic.otf</string>
			<string>Inter-ExtraLight.otf</string>
			<string>Inter-ExtraLightItalic.otf</string>
			<string>Inter-Italic.otf</string>
			<string>Inter-Light.otf</string>
			<string>Inter-LightItalic.otf</string>
			<string>Inter-Medium.otf</string>
			<string>Inter-MediumItalic.otf</string>
			<string>Inter-Regular.otf</string>
			<string>Inter-SemiBold.otf</string>
			<string>Inter-SemiBoldItalic.otf</string>
			<string>Inter-Thin.otf</string>
			<string>Inter-ThinItalic.otf</string>
			<string>Luciole-Bold-Italic.ttf</string>
			<string>Luciole-Bold.ttf</string>
			<string>Luciole-Regular-Italic.ttf</string>
			<string>Luciole-Regular.ttf</string>
			<string>slkscr.ttf</string>
			<string>slkscrb.ttf</string>
			<string>Inter-Bold.otf</string>
		</array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

</dict>
</plist>
