<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OpenPassport</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string/>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Need NFC to read Passport</string>
	<key>NSAppTransportSecurity</key>
	<string/>
  <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
	<key>NSAllowsArbitraryLoads</key>
	<false/>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Needed to scan the passport MRZ.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Needed to secure the secret</string>
	<key>NSHumanReadableCopyright</key>
	<string/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to choose passport photos or save generated QR codes.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>00000000000000</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>proofofpassport</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Advercase-Regular.otf</string>
		<string>DINOT-Medium.otf</string>
		<string>Inter-Black.otf</string>
		<string>Inter-BlackItalic.otf</string>
		<string>Inter-Bold.otf</string>
		<string>Inter-BoldItalic.otf</string>
		<string>Inter-ExtraBold.otf</string>
		<string>Inter-ExtraBoldItalic.otf</string>
		<string>Inter-ExtraLight.otf</string>
		<string>Inter-ExtraLightItalic.otf</string>
		<string>Inter-Italic.otf</string>
		<string>Inter-Light.otf</string>
		<string>Inter-LightItalic.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-MediumItalic.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-SemiBoldItalic.otf</string>
		<string>Inter-Thin.otf</string>
		<string>Inter-ThinItalic.otf</string>
		<string>slkscr.ttf</string>
		<string>slkscrb.ttf</string>
	</array>
</dict>
</plist>
