node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
ignition/deployed_addresses.json
ignition/parameters.json

ignition/deployments/*
!ignition/deployments/prod
ignition/deployments/prod/*
!ignition/deployments/prod/deployed_addresses.json
!ignition/deployments/prod/artifacts
ignition/deployments/prod/artifacts/*
!ignition/deployments/prod/artifacts/*.json
!ignition/deployments/prod/artifacts/**/*.json
ignition/deployments/prod/artifacts/**/dbg.json
ignition/deployments/prod/artifacts/dbg.json

#Local verifier
contracts/verifiers/local/*

.yarn
.yarnrc.yml
